
.formContact{
  .MuiFormControl-root{
    margin: 5px;
    .MuiInputLabel-root{
      color: black!important;

    }
    .MuiInputBase-input{
      color: black;
    }
  }
  #spinnerMessage{
    margin: 0;
  }
}

.alert-disabled-message{
  display: none !important;
}