header{
  &.MuiAppBar-root{
    background-color: #122D3E;
    box-shadow: none;
    border-bottom: 1px solid #AFB8B8;
    nav{
      margin-left: 30%;
      color: #FFFFFF;
      a{
        border-radius: 5px;
        margin-right: 20px;
        &:hover{
          background-color: #A5AAAA;
        }
        &.nav-link{

        }
        &.nav-link-selected{
          color: #FFFFFF;
        }
      }

    }
  }

}
